.user-panel {
	display: flex;
	align-items: center;
	gap: 1.875rem;
	margin-left: auto;
}

.user-panel .user {
	display: none;

	@include mediaUp(md) {
		display: flex;
	}
}

.user {
	@include linkReset;
	display: flex;
	gap: 7px;
	align-items: center;
}

.user__image {
	width: 2rem;
	height: 2rem;
	border-radius: 2rem;
}

.favorites {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.favorites__icon {
	padding: 7px;
}
