<div class="dropdown header__location">
	<div class="dropdown__toggler">
		<div class="circle">
			+icon("location").icon--lg
		</div>

		<div class="dropdown__summary" data-placeholder="Любой регион"></div>
	</div>
	<div class="dropdown__body">
		<div class="dropdown__header">
			<div class="dropdown__input-wrap">
				<input type="text" class="form-input dropdown__input">

				<button class="dropdown__input-reset">
					+icon("cross")
				</button>
			</div>

			<div class="dropdown__pills"></div>
		</div>

		<div class="dropdown__options">
			include preloader
		</div>
		<button class="button dropdown__action">Сохранить</button>
	</div>
</div>
